@import url("colors.css");

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Liga SFMono Nerd Font, FontAwesome, sans-serif;
  font-size: 17px;
  font-weight: normal;
  transition-property: background-color;
  transition-duration: .25s;
  border-radius: 0px;
  border: none;
}

window#waybar {
  background-color: transparent;
  padding: 0px 2px;
  color: @text;
}

tooltip {
  background-color: @base;
  border-radius: 10px;
  box-shadow: inset 0px -2px 1px @secondary;
}

tooltip label {
  color: @foreground;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  /* box-shadow: inset 0 -3px @background; */
}

#workspaces {
  background-color: @base;
  border-radius: 10px;
  padding: 0 5px 0 3px;
  box-shadow: inset 0px -2px 1px @secondary;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @foreground;
}

/*
#cpu,
#memory,
*/
#custom-swww,
#custom-launcher,
#system-container,
#clock,
#battery,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#keyboard-state,
#language,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 10px 1px;
  color: @foreground;
  background-color: @base;
  box-shadow: inset 0px -2px 1px @secondary;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-left {
    margin: 10px 0 0 10px;
}
.modules-center {
    margin: 10px 0 0 0;
}
.modules-right {
    margin: 10px 10px 0 0;
}

#cpu {
  padding-right: 10px;
}

#clock {
  padding-right: 0px;
  border-radius: 10px;
}

#battery {
  border-radius: 10px;
}

#battery.charging, #battery.plugged {
  color: @active;
}

@keyframes blink {
  to {
      color: @alert;
  }
}

#battery.critical:not(.charging) {
  background-color: @base;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

box#system-container {
  border-radius: 10px;
}

#backlight {
  border-radius: 10px;
}

#network {
  border-radius: 10px;
  padding-right: 12px;
}

#network.disconnected {
  color: @alert;
}

#pulseaudio {
  border-radius: 10px;
}

#wireplumber {
  border-radius: 10px;
}

#temperature {
  border-radius: 10px;
}

#temperature.critical {
  color: @alert;
}

#tray {
  border-radius: 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  border-radius: 10px;
  padding-right: 15px;
}

#idle_inhibitor.activated {
  color: @active;
}

/* ------------ CUSTOM ------------ */

#custom-launcher {
  border-radius: 10px;
  padding: 0 15px 0 7px;
  font-size: 21px;
}
#custom-swww {
  border-radius: 10px;
  padding: 0 15px 0 12px;
}
#custom-updates {
  border-radius: 10px;
  padding: 0 10px 0 7px;
}
